<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXIy-nnuU6VgP7GEfpvMO93aqO2ABFCYI</string>
	<key>GCM_SENDER_ID</key>
	<string>652870940235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLandingPage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nialixus-landing-page</string>
	<key>STORAGE_BUCKET</key>
	<string>nialixus-landing-page.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652870940235:ios:75c06913ce1f05a20d3fce</string>
</dict>
</plist>